/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

/* Header */
header {
  background: #003366;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.iconocasablanca {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}
header nav ul li a:hover {
  color: #1a1a2e; /* Color de texto azul/negro */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


/* Logo section */
.language-selector {
  position: absolute; /* Posiciona el elemento de forma absoluta dentro de .logo-section */
  top: 0;             /* Alinea el elemento al borde superior de .logo-section */
  left: 0;            /* Alinea el elemento al borde izquierdo de .logo-section */
  padding: 10px;      /* Añade un poco de espacio alrededor del contenido */
  z-index: 1000;      /* Asegura que el elemento esté por encima de otros elementos en la misma sección */
}
@media (max-width: 600px) {
  .language-selector {
    top: 5px;          /* Ajusta el espacio superior */
    left: 5px;         /* Ajusta el espacio izquierdo */
    padding: 5px;      /* Reduce el padding para pantallas pequeñas */
  }
}

/* Media query para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .language-selector {
    top: 10px;         /* Ajusta el espacio superior */
    left: 10px;        /* Ajusta el espacio izquierdo */
    padding: 8px;      /* Ajusta el padding para pantallas medianas */
  }
}

/* Media query para pantallas grandes (por ejemplo, escritorios) */
@media (min-width: 1025px) {
  .language-selector {
    top: 20px;         /* Ajusta el espacio superior */
    left: 20px;        /* Ajusta el espacio izquierdo */
    padding: 15px;     /* Ajusta el padding para pantallas grandes */
  }
}
.logo-section {
  background-image: linear-gradient(
      rgba(0, 51, 102, 0.7),
      rgba(0, 51, 102, 0.7)
    ),
    url("../imagenes/imgs/IMG_8903.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-content {
  padding: 2rem;
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-content h1 {
  font-size: 50px;
}

.logo {
  width: 150px;
  max-width: 100%;
  height: auto;
  color: #fff;
  filter: brightness(0) invert(1);
}

/* Form section */
.form-section {
  background-image: url("../imagenes/imgs/Fondo\ 1.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px 0;
}

.form-section form {
  background: #fff;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #003366;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #003d82;
}

/* About section */
.about-section {
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
  background-image: url("../imagenes/imgs/Fondo\ 2.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.service-card {
  background-color: white;
  width: 250px;
  max-width: 100%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin-bottom: 20px;
  text-decoration: none;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 80px;
  height: 80px;
  margin-top: 30px;
}

.service-card h3 {
  color: #333;
  margin-top: 20px;
  font-size: 1.2em;
}

.sobrenosotros h2 {
  color: #fff;
  padding-right: 40px;
  font-size: 40px;
}

.sobrenosotros p {
  color: #fff;
  padding-right: 40px;
  font-size: 20px;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.reason h3 {
  color: #fff;
  padding-right: 40px;
  font-size: 40px;
}

.reason p {
  padding-right: 40px;
  font-size: 30px;
}

.reason::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reason:nth-child(1)::after {
  background-image: url("../imagenes/iconos/Seguridad.svg");
}

.reason:nth-child(2)::after {
  background-image: url("../imagenes/iconos/monitoreo.svg");
}

.reason:nth-child(3)::after {
  background-image: url("../imagenes/iconos/Credencial.svg");
}

h3.consultas {
  text-align: center;
  margin-top: 40px;
  font-size: 1.8em;
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 10px;
  font-size: 1.2em;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 1.5em;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #3498db;
}

/* CITY TOUR */
.citytour {
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
  background-image: url("../imagenes/imgs/Fondo\ 2.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.headercity {
  font-size: 30px;
}
/* Contenedor de imagen */
.divh1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
}

/* Imagen */
.camionetah1 {
  width: 100%;
  height: auto;
  max-width: 1250px; /* Ajusta este valor según sea necesario */
  object-fit: cover;
  display: block;
}

#intro,
#description {
  text-align: center;
  margin-bottom: 30px;
  padding-right: 40px;
  font-size: 20px;
}

#attractions {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

.card img {
  width: 40%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  width: 60%;
}

.card h3 {
  margin-top: 0;
}

/*EXPERIENCIAS */
.experiencias {
  margin: 0 auto;
  padding: 0px;
  min-height: 94vh;
  font-family: "Arial", sans-serif;
  background-image: url("../imagenes/imgs/Fondo\ 1.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.exper {
  color: black;
}

.actexp {
  color: #003392;
}
#slider{
  width:80%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  display:none;
  position: relative; /* Asegura que el contenedor del slide se maneje correctamente */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  animation-name:fade;
  animation-duration:1s;
}
.slideimgtango {
  width: 100%;
  height: 300px; /* Puedes ajustar esta altura según lo necesites */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: 20% 65%; /* Ajusta la posición horizontal y vertical según tus necesidades */
  display: block; /* Elimina el espacio en la parte inferior de la imagen */
}
.slideimgpolo {
  width: 100%;
  height: 300px; /* Puedes ajustar esta altura según lo necesites */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: 20% 40%; /* Ajusta la posición horizontal y vertical según tus necesidades */
  display: block; /* Elimina el espacio en la parte inferior de la imagen */
}
.slideimgasado {
  width: 100%;
  height: 300px; /* Puedes ajustar esta altura según lo necesites */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: 20% 40%; /* Ajusta la posición horizontal y vertical según tus necesidades */
  display: block; /* Elimina el espacio en la parte inferior de la imagen */
}
.slideimgdelta {
  width: 100%;
  height: 300px; /* Puedes ajustar esta altura según lo necesites */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: 20% 40%; /* Ajusta la posición horizontal y vertical según tus necesidades */
  display: block; /* Elimina el espacio en la parte inferior de la imagen */
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:rgb(36, 0, 126);
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

/* FLOTA VEHICULOS */
.flota {
  font-family: "Arial", sans-serif;
  background-image: url("../imagenes/imgs/Fondo\ 2.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px 0;
}

.vehiculos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.vehiculos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.vehiculos > p {
  text-align: center;
  margin-bottom: 30px;
}

.vehiculos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.vehiculo-card {
  background-color: #f9f9f9;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.vehiculo-card:hover {
  transform: translateY(-5px);
}

.vehiculo-card h3 {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.vehiculo-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.vehiculo-card .modelo {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.vehiculo-card .detalles {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #ecf0f1;
}

.vehiculo-card .detalles span {
  display: flex;
  align-items: center;
}

.vehiculo-card .detalles i {
  margin-right: 5px;
}

.nota-equipaje {
  color: rgb(255, 255, 255);
  margin-top: 30px;
  font-style: italic;
  text-align: center;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .iconocasablanca {
    width: 16px;
    height: 16px;
  }

  .logo-content h1 {
    font-size: 30px;
  }

  .service-card {
    width: 100%;
  }

  .sobrenosotros h2,
  .reason h3 {
    font-size: 30px;
  }

  .sobrenosotros p,
  .reason p {
    font-size: 16px;
  }

  .card {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: 200px;
  }

  .card-content {
    width: 100%;
  }

  .vehiculos-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  header a {
    font-size: 14px;
  }

  .logo-content h1 {
    font-size: 24px;
  }

  .sobrenosotros h2,
  .reason h3 {
    font-size: 24px;
  }

  .sobrenosotros p,
  .reason p,
  #intro,
  #description {
    font-size: 14px;
  }
}
.thank-you-message {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.error {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}